[meta]
kind = "ReceiveFile"

[[instructions]]
type = "Const"
value_type = "String"
value = "$file_name"
dst = "SLOT_RECEIVE_FILE_NAME"

[[instructions]]
type = "Const"
value_type = "U64"
value = "$file_size"
dst = "SLOT_RECEIVE_FILE_SIZE"

[[instructions]]
type = "Const"
value_type = "String"
value = "$checksum"
dst = "SLOT_RECEIVE_CHECKSUM"

[[instructions]]
type = "ReceiveFile"
stream = "SLOT_RECEIVE_STREAM"
file_name = "SLOT_RECEIVE_FILE_NAME"
file_size = "SLOT_RECEIVE_FILE_SIZE"
checksum = "SLOT_RECEIVE_CHECKSUM"
result = "SLOT_RECEIVE_RESULT"
